    /* === CORNER BORDERS (GLOBAL) === */

.corner {
      position: fixed;
      width: 20vw;
      max-width: 200px;
      z-index: 9000;
      pointer-events: none;
    }

    .corner img {
      width: 100%;
      height: auto;
      display: block;
    }

    .top-left {
      top: 0;
      left: 0;
      transform: scaleY(-1);
    }

    .top-right {
      top: 0;
      right: 0;
    }

    .bottom-left {
      bottom: 0;
      left: 0;
    }

    .bottom-right {
      bottom: 0;
      right: 0;
      transform: scaleX(-1);
    }